//Color-scheme

$basic-background-color: #ffffff;
$promo-background-color: #f5f8f1;

$main-text-color: #0f0a00;
$first-text-color: #edce47;
$second-text-color: #84a748;
$lines-color: #9bb968;

//Breakpoints-widths

$mobile-width: 767px;
$tablet-width: 991px;
